/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 4rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
}
.page {
  max-width: 2000px;
}
.pagePadding {
  margin-top: 5%;
  padding: 0 5% 0 5%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.page {
  max-width: 2000px;
  margin: 0 auto;
}
.pagePadding {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.footer {
  background: #14131C;
  padding-bottom: 2%;
  padding-top: 2.5%;
  margin-top: 10%;
}
.footer #links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2%;
}
.footer #links * {
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1.4rem;
  text-decoration: none;
  color: gainsboro;
}
.footer #copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer #copyright * {
  font-size: 1.3rem;
  color: gainsboro;
}
.footer #copyright a {
  text-decoration: none;
  color: gainsboro;
}
.footer #icons {
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}
.footer #icons img {
  margin-left: 5px;
  margin-right: 5px;
  width: 25px;
  height: 25px;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #BB1333;
}
@media (max-width: 800px) {
  .navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.navbar .links {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  font-size: 180%;
}
@media (max-width: 800px) {
  .navbar .links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: auto;
    width: 100%;
  }
}
.navbar .links a {
  text-decoration: none;
  color: #BB1333;
  font-weight: bold;
}
@media (max-width: 800px) {
  .navbar .links a {
    margin: 1%;
  }
}
.navbar .links a:hover {
  text-decoration: underline;
}
.navbar img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  padding-bottom: 4px;
  padding-top: 4px;
}
@media (max-width: 800px) {
  .navbar img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-self: center;
    width: 30%;
  }
}
* {
  line-height: 1.5;
}
.hero {
  display: flex;
  width: 100%;
  margin-top: 7%;
}
@media (max-width: 800px) {
  .hero {
    padding-top: 10%;
    flex-direction: column;
  }
}
.hero .heroImg {
  width: 60%;
}
@media (max-width: 800px) {
  .hero .heroImg {
    width: 100%;
  }
}
.hero .heroCopy {
  color: black;
  font-size: 2.5rem;
  width: 40%;
  text-align: center;
  font-weight: bold;
  background-color: rgba(58, 181, 229, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
@media (max-width: 800px) {
  .hero .heroCopy {
    width: 100%;
    border-bottom: 2px solid black;
    margin-top: 0;
    margin-bottom: 0;
  }
}
.hero .heroCopy h1 {
  font-size: 2.5vw;
  margin-bottom: 10%;
}
@media (max-width: 800px) {
  .hero .heroCopy h1 {
    margin-bottom: 5%;
    font-size: 3.5rem;
  }
}
.hero .heroCopy p {
  margin-bottom: 7.5%;
  font-size: 2vw;
  color: black;
}
@media (max-width: 800px) {
  .hero .heroCopy p {
    font-size: 2.7rem;
  }
}
@media (max-width: 500px) {
  .hero .heroCopy p {
    font-size: 2rem;
  }
}
.hero .heroCopy a {
  background: #BB1333;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.5vw;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 800px) {
  .hero .heroCopy a {
    background: #BB1333;
    color: white;
    border-radius: 0;
    font-weight: bold;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
    margin-bottom: 3%;
  }
}
.intro-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (max-width: 800px) {
  .intro-container {
    margin-bottom: 5%;
  }
}
.intro-container h2 {
  padding: 1% 0 0 0;
  font-size: 2.5rem;
}
@media (max-width: 800px) {
  .intro-container h2 {
    margin-bottom: 5%;
  }
}
@media (max-width: 500px) {
  .intro-container h2 {
    margin-bottom: 5%;
  }
}
.intro-container p {
  max-width: 80%;
  padding: 2% 2% 0% 2%;
}
@media (max-width: 800px) {
  .intro-container p {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .intro-container p {
    text-align: left;
    font-size: 1.5rem;
  }
}
.user-roles-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 5% 0 5%;
  margin-bottom: 5%;
}
@media (max-width: 800px) {
  .user-roles-container {
    display: none;
    visibility: hidden;
  }
}
.user-roles-container .forStudents {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;
}
.user-roles-container .forStudents .vector-container {
  width: 40%;
  margin-top: 3%;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
.user-roles-container .forStudents a {
  background: #BB1333;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1vw;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5%;
}
.user-roles-container .forStudents h3 {
  font-size: 2.5vh;
  margin-bottom: 5%;
}
.user-roles-container .forManagers {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  align-items: center;
  border: 2px solid black;
}
.user-roles-container .forManagers .vector-container {
  width: 40%;
  margin-top: 3%;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
.user-roles-container .forManagers a {
  background: #BB1333;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1vw;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5%;
}
.user-roles-container .forManagers h3 {
  font-size: 2.5vh;
  margin-bottom: 5%;
}
.user-roles-container .forStaff {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
}
.user-roles-container .forStaff .vector-container {
  width: 40%;
  margin-top: 3%;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
.user-roles-container .forStaff a {
  background: #BB1333;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1vw;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5%;
}
.user-roles-container .forStaff h3 {
  font-size: 2.5vh;
  margin-bottom: 5%;
}
.features-container {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  padding: 5% 5% 5% 5%;
}
@media (max-width: 800px) {
  .features-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.features-container .features-col-1 {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: space-evenly;
}
@media (max-width: 800px) {
  .features-container .features-col-1 {
    width: 100%;
    margin-bottom: 5%;
  }
}
.features-container .features-col-1 h2 {
  font-size: 2vw;
  margin-bottom: 3%;
  text-align: center;
}
@media (max-width: 800px) {
  .features-container .features-col-1 h2 {
    font-size: 3rem;
  }
}
@media (max-width: 500px) {
  .features-container .features-col-1 h2 {
    font-size: 2.5rem;
  }
}
.features-container .features-col-1 p {
  font-size: 1.15vw;
  margin-bottom: 3%;
  text-align: center;
}
@media (max-width: 800px) {
  .features-container .features-col-1 p {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .features-container .features-col-1 p {
    font-size: 1.5rem;
    text-align: left;
    padding: 0 0 0 7%;
  }
}
.features-container .features-col-1 a {
  background: #BB1333;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1vw;
  text-decoration: none;
  width: 60%;
  text-align: center;
}
@media (max-width: 800px) {
  .features-container .features-col-1 a {
    width: 25%;
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .features-container .features-col-1 a {
    width: 33%;
    font-size: 1.5rem;
  }
}
.features-container .features-col-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 75%;
  height: 100%;
}
@media (max-width: 800px) {
  .features-container .features-col-2 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
.features-container .features-col-2 .feature-box {
  display: flex;
  max-width: 33%;
  flex-direction: column;
  padding: 0 3% 3% 3%;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
}
@media (max-width: 800px) {
  .features-container .features-col-2 .feature-box {
    max-width: 100%;
    padding: 3% 3% 3% 3%;
  }
}
.features-container .features-col-2 h3 {
  font-size: 1.25vw;
  margin-bottom: 10%;
  color: #BB1333;
}
@media (max-width: 800px) {
  .features-container .features-col-2 h3 {
    font-size: 2.25rem;
    margin-bottom: 5%;
  }
}
@media (max-width: 800px) {
  .features-container .features-col-2 p {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .features-container .features-col-2 p {
    font-size: 1.5rem;
    text-align: left;
    padding: 0 2% 0 4%;
  }
}
.features-container .features-col-2 img {
  margin-bottom: 5%;
}
.students {
  background-color: rgba(26, 97, 176, 0.2);
  border-bottom: 2px solid black;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 2px solid black;
}
.staff {
  background-color: rgba(58, 181, 229, 0.2);
  border-bottom: 2px solid black;
  margin-top: 0;
  margin-bottom: 0;
}
.admin {
  background-color: rgba(26, 97, 176, 0.2);
  border-bottom: 2px solid black;
  margin-top: 0;
  margin-bottom: 0;
}
.admin-features {
  display: flex;
}
.final-cta-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.final-cta-container h2 {
  padding: 3% 0 0 0;
  font-size: 2.5vw;
}
@media (max-width: 800px) {
  .final-cta-container h2 {
    font-size: 3rem;
  }
}
.final-cta-container p {
  max-width: 80%;
  padding: 3% 2% 2% 2%;
  font-size: 1.25vw;
}
@media (max-width: 800px) {
  .final-cta-container p {
    font-size: 2rem;
  }
}
@media (max-width: 500px) {
  .final-cta-container p {
    text-align: center;
    padding: 3% 2% 3% 4%;
    font-size: 1.5rem;
  }
}
.final-cta-container a {
  background: #BB1333;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1vw;
  text-align: center;
  text-decoration: none;
}
@media (max-width: 800px) {
  .final-cta-container a {
    background: #BB1333;
    color: white;
    border-radius: 0;
    font-weight: bold;
    padding-top: 0.7vh;
    padding-bottom: 0.7vh;
    padding-left: 1vw;
    padding-right: 1vw;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
  }
}
.rowDisplay {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 800px) {
  .rowDisplay {
    flex-direction: column;
    align-items: center;
  }
}
.halfWidth {
  width: 45%;
}
.halfWidth .halfText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
@media (max-width: 800px) {
  .halfWidth {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .halfWidth {
    width: 99%;
  }
}
.halfImgRight {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
}
.halfImgRight img {
  border: 1px solid gray;
}
@media (max-width: 800px) {
  .halfImgRight {
    order: -1;
    width: 100%;
    height: auto;
  }
}
.halfImgLeft {
  display: flex;
  align-items: center;
  justify-content: center;
}
.halfImgLeft img {
  border: 1px solid gray;
}
@media (max-width: 800px) {
  .halfImgLeft {
    width: 100%;
    height: auto;
  }
}
#noBorder {
  border: none;
}
.sectionText {
  font-size: 1.8rem;
}
@media (max-width: 800px) {
  .sectionText {
    text-align: center;
  }
}
.sectionTitle {
  font-size: 2.5rem;
  font-weight: bold;
  padding-bottom: 5%;
}
@media (max-width: 800px) {
  .sectionTitle {
    text-align: center;
    padding-top: 5%;
  }
}
.linebreak {
  border-bottom: 2px solid #C0C0C0;
  margin-top: 10%;
  margin-bottom: 10%;
}
.tableOfContents {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.tableOfContents .sectionButton {
  background: #BB1333;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-top: 1%;
}
.pageTitle {
  text-align: center;
  margin-top: 13%;
  font-family: 'Lato', sans-serif;
}
@media (max-width: 800px) {
  .pageTitle {
    margin-top: 26%;
    font-size: 3rem;
  }
}
.pageSubtitle {
  text-align: center;
  margin-top: 1.5%;
  font-family: 'Lato', sans-serif;
  font-size: 1.6rem;
  color: grey;
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Regular'), local('Alegreya-Regular'), url(https://fonts.gstatic.com/s/alegreya/v13/4UaBrEBBsBhlBjvfkSLhx60.ttf) format('truetype');
}
.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  background-color: white;
  padding-bottom: 5%;
}
.about h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Alegreya, serif;
  font-weight: bold;
  width: 100%;
  font-size: 800%;
  margin: 7% 0 5% 0;
}
@media (max-width: 500px) {
  .about h1 {
    margin-bottom: 2%;
    margin-top: 20%;
  }
}
@media (max-width: 800px) {
  .about h1 {
    margin-bottom: 2%;
    margin-top: 18%;
  }
}
.about .row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
}
@media (max-width: 500px) {
  .about .row1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
  }
}
.about .row1 .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 25%;
  background-color: lightGray;
  box-shadow: 0 60px 90px #ececec;
  border-radius: 20px 20px 20px 20px;
}
@media (max-width: 800px) {
  .about .row1 .card {
    width: 31%;
  }
}
@media (max-width: 500px) {
  .about .row1 .card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    align-self: center;
    margin: 2%;
  }
}
.about .row1 .card .body h2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-family: Alegreya, serif;
  font-weight: bold;
  width: 100%;
  font-size: 300%;
  margin: 5% 0 2% 0;
}
.about .row1 .card .intro {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  text-align: center;
  width: 90%;
  margin: 2% 0 2% 0;
}
.about .row1 .card .position {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  color: white;
  background-color: #BB1333;
  width: 90%;
  padding: 3%;
  border-radius: 20px;
  margin: 2% 0 2% 0;
}
.about .row1 .card .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 70%;
  align-self: center;
  margin-bottom: 2%;
  border-top: 1px solid #a0a0a0;
}
.about .row1 .card .icons img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: 25%;
  margin: 9% 0 5% 0;
}
.about .row1 .card .icons img:hover {
  background-color: lightBlue;
  border-radius: 20px;
}
.about .row1 .card .headshot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: 80%;
  margin-top: 8%;
  border-radius: 150px;
}
