/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 4rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
}
.page {
  max-width: 2000px;
}
.pagePadding {
  margin-top: 5%;
  padding: 0 5% 0 5%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar .links {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  font-size: 180%;
}
.navbar .links a {
  text-decoration: none;
  color: #BB1333;
  font-weight: bold;
}
.navbar .links a:hover {
  text-decoration: underline;
}
.navbar img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
}
.hero {
  display: flex;
  width: 100%;
  margin-top: 7%;
}
.hero .heroImg {
  width: 60%;
}
.hero .heroCopy {
  color: white;
  font-size: 2.5rem;
  width: 40%;
  text-align: center;
  font-weight: bold;
  background-color: rgba(85, 89, 109, 0.6);
  padding: 5rem 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.hero .heroCopy h1 {
  font-size: 2.5vw;
}
.hero .heroCopy p {
  font-size: 2vw;
  color: white;
}
.hero .heroCopy a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  background-color: #55596d;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 2rem;
  width: 40%;
}
.user-roles-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 2rem 5% 2rem 5%;
}
.user-roles-container .forStudents {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;
}
.user-roles-container .forStudents .vector-container {
  width: 40%;
  margin-top: 3%;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
.user-roles-container .forStudents a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  background-color: #55596d;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 2rem;
  width: 40%;
}
.user-roles-container .forStudents h3 {
  font-size: 2.5vh;
  margin-bottom: 5%;
}
.user-roles-container .forManagers {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  align-items: center;
  border: 2px solid black;
}
.user-roles-container .forManagers .vector-container {
  width: 40%;
  margin-top: 3%;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
.user-roles-container .forManagers a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  background-color: #55596d;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 2rem;
  width: 40%;
}
.user-roles-container .forManagers h3 {
  font-size: 2.5vh;
  margin-bottom: 5%;
}
.user-roles-container .forStaff {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
}
.user-roles-container .forStaff .vector-container {
  width: 40%;
  margin-top: 3%;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
.user-roles-container .forStaff a {
  color: white;
  text-decoration: none;
  font-size: 1.5vw;
  background-color: #55596d;
  padding: 1vw 2vw 1vw 2vw;
  border-radius: 5px;
  border: 1px solid black;
  margin-bottom: 2rem;
  width: 40%;
}
.user-roles-container .forStaff h3 {
  font-size: 2.5vh;
  margin-bottom: 5%;
}
.student-features {
  display: flex;
}
.student-features .feature-box {
  width: 30%;
}
.admin-features {
  display: flex;
}
.cta-footer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 5rem;
}
.cta-footer-container h2 {
  padding: 5rem 0rem 1.5rem 0rem;
  font-size: 2.5rem;
}
.cta-footer-container p {
  padding: 3rem 2rem 3rem 2rem;
}
.cta-footer-container a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  background-color: #55596d;
  padding: 1rem 0 1rem 0;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  width: 15%;
}
