/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 4rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
}
.page {
  max-width: 2000px;
}
.pagePadding {
  margin-top: 5%;
  padding: 0 5% 0 5%;
}
.container {
  width: 80%;
  margin: 0 auto;
}
.page {
  max-width: 2000px;
}
.pagePadding {
  margin-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
}
.footer {
  background: #14131C;
  padding-bottom: 2%;
  padding-top: 2.5%;
  margin-top: 10%;
}
.footer #links {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}
.footer #links * {
  padding-left: 2%;
  padding-right: 2%;
  font-size: 1.4rem;
  text-decoration: none;
  color: gainsboro;
}
.footer #copyright {
  display: flex;
  justify-content: center;
}
.footer #copyright :first-child {
  font-size: 1.3rem;
  color: gainsboro;
}
.footer #icons {
  display: flex;
  justify-content: center;
  margin-top: 2.5%;
}
.footer #icons * {
  margin-left: 0.5%;
  margin-right: 0.5%;
  width: 1.5%;
  height: 1.5%;
}
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 1%;
  padding-right: 1%;
  background-color: white;
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid #BB1333;
}
.navbar .links {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-self: center;
  font-size: 180%;
}
.navbar .links a {
  text-decoration: none;
  color: #BB1333;
  font-weight: bold;
}
.navbar .links a:hover {
  text-decoration: underline;
}
.navbar img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15%;
  padding-bottom: 4px;
  padding-top: 4px;
}
* {
  line-height: 1.5;
}
.hero {
  display: flex;
  width: 100%;
  margin-top: 7%;
}
.hero .heroImg {
  width: 60%;
}
.hero .heroCopy {
  color: white;
  font-size: 2.5rem;
  width: 40%;
  text-align: center;
  font-weight: bold;
  background-color: rgba(12, 60, 120, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
}
.hero .heroCopy h1 {
  font-size: 2.5vw;
  margin-bottom: 10%;
}
.hero .heroCopy p {
  margin-bottom: 7.5%;
  font-size: 2vw;
  color: white;
}
.hero .heroCopy a {
  background: #55596d;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.5vw;
  text-align: center;
  text-decoration: none;
}
.intro-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.intro-container h2 {
  padding: 3% 0 0 0;
  font-size: 2.5rem;
}
.intro-container p {
  max-width: 80%;
  padding: 3% 2% 3% 2%;
  font-weight: bold;
}
.user-roles-container {
  display: flex;
  width: 100%;
  justify-content: space-around;
  padding: 0 5% 0 5%;
  margin-bottom: 5%;
}
.user-roles-container .forStudents {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: space-evenly;
  border: 2px solid black;
}
.user-roles-container .forStudents .vector-container {
  width: 40%;
  margin-top: 3%;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
.user-roles-container .forStudents a {
  background: #55596d;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.5vw;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5%;
}
.user-roles-container .forStudents h3 {
  font-size: 2.5vh;
  margin-bottom: 5%;
}
.user-roles-container .forManagers {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  align-items: center;
  border: 2px solid black;
}
.user-roles-container .forManagers .vector-container {
  width: 40%;
  margin-top: 3%;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
.user-roles-container .forManagers a {
  background: #55596d;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.5vw;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5%;
}
.user-roles-container .forManagers h3 {
  font-size: 2.5vh;
  margin-bottom: 5%;
}
.user-roles-container .forStaff {
  display: flex;
  flex-direction: column;
  width: 30%;
  text-align: center;
  align-items: center;
  justify-content: space-between;
  border: 2px solid black;
}
.user-roles-container .forStaff .vector-container {
  width: 40%;
  margin-top: 3%;
  margin-right: 0 auto;
  margin-left: 0 auto;
}
.user-roles-container .forStaff a {
  background: #55596d;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.5vw;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5%;
}
.user-roles-container .forStaff h3 {
  font-size: 2.5vh;
  margin-bottom: 5%;
}
.features-container {
  display: flex;
  max-width: 90%;
  margin: 0 auto;
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}
.features-container .features-col-1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  padding: 3% 0  0 0;
  align-items: center;
}
.features-container .features-col-1 h2 {
  font-size: 2vw;
  margin-bottom: 3%;
  text-align: center;
}
.features-container .features-col-1 p {
  font-size: 1.5vw;
  margin-bottom: 3%;
}
.features-container .features-col-1 a {
  background: #55596d;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1vw;
  text-decoration: none;
  width: 60%;
  text-align: center;
}
.features-container .features-col-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  width: 80%;
}
.features-container .features-col-2 .feature-box {
  width: 40%;
  flex-direction: column;
  padding: 3% 3% 3% 3%;
}
.features-container .features-col-2 h3 {
  font-size: 1.25vw;
  margin-bottom: 5%;
}
.students {
  background-color: rgba(12, 60, 120, 0.2);
  border-bottom: 2px solid black;
  margin-top: 0;
  margin-bottom: 0;
}
.staff {
  background-color: rgba(26, 97, 176, 0.2);
  border-bottom: 2px solid black;
  margin-top: 0;
  margin-bottom: 0;
}
.admin {
  background-color: rgba(58, 181, 229, 0.2);
  border-bottom: 2px solid black;
  margin-top: 0;
  margin-bottom: 0;
}
.admin-features {
  display: flex;
}
.final-cta-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.final-cta-container h2 {
  padding: 3% 0 0 0;
  font-size: 2.5rem;
}
.final-cta-container p {
  max-width: 80%;
  padding: 3% 2% 3% 2%;
  font-weight: bold;
}
.final-cta-container a {
  background: #55596d;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.5vw;
  text-align: center;
  text-decoration: none;
}
.rowDisplay {
  display: flex;
  justify-content: space-around;
}
.halfWidth {
  width: 45%;
}
.halfWidth .halfText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.halfImgRight {
  display: flex;
  flex-direction: row-reverse;
}
.sectionText {
  font-size: 1.5rem;
}
.sectionTitle {
  font-size: 2.2rem;
  font-weight: bold;
  padding-bottom: 5%;
}
.linebreak {
  border-bottom: 2px solid #C0C0C0;
  margin-top: 10%;
  margin-bottom: 10%;
}
.tableOfContents {
  margin-top: 5%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
.tableOfContents .sectionButton {
  background: #BB1333;
  color: white;
  border-radius: 0;
  font-weight: bold;
  padding-top: 0.7vh;
  padding-bottom: 0.7vh;
  padding-left: 1vw;
  padding-right: 1vw;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: none;
  margin-left: 0.5%;
  margin-right: 0.5%;
}
#pageTitle {
  text-align: center;
  margin-top: 15%;
  font-family: 'Lato', sans-serif;
}
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: local('Alegreya Regular'), local('Alegreya-Regular'), url(https://fonts.gstatic.com/s/alegreya/v13/4UaBrEBBsBhlBjvfkSLhx60.ttf) format('truetype');
}
.about {
  display: flex;
  flex-direction: column;
  justify-items: center;
  justify-content: center;
  background-color: lightgray;
  padding-bottom: 5%;
}
.about h1 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  font-family: Alegreya, serif;
  font-weight: bold;
  width: 100%;
  font-size: 800%;
  margin: 7% 0 5% 0;
}
.about .row1 {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 2%;
}
.about .row1 .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  width: 25%;
  background-color: white;
  box-shadow: 0 60px 90px rgba(0, 0, 0, 0.1);
  border-radius: 20px 20px 20px 20px;
}
.about .row1 .card .body h2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  font-family: Alegreya, serif;
  font-weight: bold;
  width: 100%;
  font-size: 300%;
  margin: 5% 0 2% 0;
}
.about .row1 .card .icons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  align-self: center;
  border-top: 1px solid lightgray;
  margin-bottom: 2%;
}
.about .row1 .card .icons img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: 25%;
  margin: 9% 0 5% 0;
}
.about .row1 .card .icons img:hover {
  background-color: lightblue;
  border-radius: 20px;
}
.about .row1 .card .headshot {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-self: center;
  width: 80%;
  margin-top: 8%;
  border-radius: 150px;
}
