@import url('https://fonts.googleapis.com/css?family=Alegreya');

.about {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: center;
    background-color: lightgray;
    padding-bottom: 5%;

    h1 {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: Alegreya, serif;
        font-weight: bold;
        width: 100%;
        font-size: 800%;
        margin: 7% 0 5% 0;
    }

    

    .row1 {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 2%;

        .card {
            display: flex;
            flex-direction: column;
            justify-content: center;
            justify-items: center;
            width: 25%;
            background-color: white;
            box-shadow: 0 60px 90px rgba(0,0,0,.1);
            border-radius: 20px 20px 20px 20px;

            .body {
                h2 {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    text-align: center;
                    font-family: Alegreya, serif;
                    font-weight: bold;
                    width: 100%;
                    font-size: 300%;
                    margin: 5% 0 2% 0;
                }
            }

            .intro {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-self: center;
                text-align: center;
                width: 90%;
                margin: 2% 0 2% 0;
            }

            .position {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                align-self: center;
                text-align: center;
                font-size: 12pt;
                font-weight: bold;
                color: white;
                background-color: #BB1333;
                width: 90%;
                padding: 3%;
                border-radius: 20px;
                margin: 2% 0 2% 0;
            }

            .icons {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 70%;
                align-self: center;
                border-top: 1px solid lightgray;
                margin-bottom: 2%;
                
                img {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-content: center;
                    align-self: center;
                    width: 25%;
                    margin: 9% 0 5% 0;
                    &:hover{
                        background-color: lightblue;
                        border-radius: 20px;
                    }
                }
            }
        
            .headshot {
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-content: center;
                align-self: center;
                width: 80%;
                margin-top: 8%;
                border-radius: 150px;
            }
        }
    }
}