.rowDisplay {
    display: flex;
    justify-content: space-around;
}

.halfWidth { 
    width: 45%;
    .halfText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }
}

.halfImgRight {
    display: flex;
    flex-direction: row-reverse;
}

.sectionText {
    font-size: 1.5rem;
}

.sectionTitle {
    font-size: 2.2rem;
    font-weight: bold;
    padding-bottom: 5%;
}

.linebreak {
    .linebreak();
}

.tableOfContents {
    margin-top: 5%;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;

    .sectionButton {
        .button();
        margin-left: .5%;
        margin-right: .5%;
    }

}

#pageTitle {
    text-align: center;
    margin-top: 15%;
    font-family: 'Lato', sans-serif;
}