
.hero{
    display:flex;
    width:100%;
    margin-top:7%;
    .heroImg{
        width:60%;
    }
    .heroCopy{
        color:white;
        font-size:2.5rem;
        width:40%;
        text-align:center;
        font-weight:bold;
        background-color: rgba(85, 89, 109, .6);
        padding: 5rem 1rem 1rem 1rem;
        display:flex;
        flex-direction:column;
        justify-content:space-around;
        align-items:center;
        h1{
            font-size: 2.5vw;
        }
        p{
        //   margin-top: 3%;
        //   margin-bottom:5%;
          font-size:2vw;
          color:white;  
        }//p
        a{
            color:white;
            text-decoration:none;
            font-size:1.5vw;
            background-color:#55596d;
            padding: 1vw 2vw 1vw 2vw;
            border-radius:5px;
            border:1px solid black;
            margin-bottom:2rem;
            width:40%;
        }//a
    }//herocopy
}//hero



.user-roles-container{
    display:flex;
    width:100%;
    justify-content: space-evenly;
    padding:2rem 0 2rem 0;
    .forStudents{
        display:flex;
        flex-direction:column;
        width:35%;
        text-align:center;
        // border:1px solid black;
        .vector-container{
            // padding: 1rem;
            width:50%;
            // align-items:center;
            margin: 0 auto;
        }
        a{


        }
    }
    .forManagers{
        display:flex;
        flex-direction:column;
        width:35%;
        text-align:center;
        // border:1px solid black;
        .vector-container{
            // padding: 1rem;
            width:50%;
            // align-items:center;
            margin: 0 auto;
        }
        a{
            
        }
    }//formanagers
}//user-roles

.student-features{
    display:flex;
    .feature-box{
        width:30%;

    }

}

.admin-features{
    display:flex;
}

.cta-footer-container{
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin-bottom:5rem;
    h2{
        padding: 5rem 0rem 1.5rem 0rem;
        font-size:2.5rem;
    }
    p{
        padding:3rem 2rem 3rem 2rem;

    }
    a{
        color:white;
        text-decoration:none;
        font-size:1.5rem;
        background-color:#55596d;
        padding: 1rem 0 1rem 0;
        border-radius:5px;
        border:1px solid black;
        text-align:center;
        width:15%;
    }




}//cat-footer



