.button(){
    color:white;
            text-decoration:none;
            font-size:1.25vw;
            background-color:#55596d;
            padding: 1vw 2vw 1vw 2vw;
            border-radius:5px;
            border:1px solid black;
            margin-bottom:2rem;
            width:40%;
        }